@font-face {
  font-family: "montserrat";
  src: url("fonts/monstserrat/montserrat-bold-webfont.woff2") format("woff2"),
    url("fonts/monstserrat/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/monstserrat/montserrat-bolditalic-webfont.woff2")
      format("woff2"),
    url("fonts/monstserrat/montserrat-bolditalic-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/monstserrat/montserrat-regular-webfont.woff2") format("woff2"),
    url("fonts/monstserrat/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
}

.nav-container {
  display: flex;
  flex-direction: row;
  color: white;
}

.container-A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img {
  width: 50px;
  height: 5rem;
  margin-top: 10rem;
}
.container-B {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -20rem;
  margin-right: 3rem;
}
